* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'poppins', sans-serif;
  overflow-y: hidden;
}

nav {
  display: flex;
  background-color: #c7bcf3;
  /* padding: 20px 69px; */
  height: 69px;
  align-items: center;
  justify-content: space-around;
}

nav .logo {
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  font-size: 0.9em;
}

/* Hamburger Menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 43px;
  height: 23px;
  opacity: 0;
  left: -10px;
  top: -2px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 23px;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
}

/*hamburger menu animasi*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:last-child {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-2px, 2px);
}

.menu-toggle input:checked ~ span:last-child {
  transform: rotate(-45deg) translate(-1px, -3px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* responsive breakpoint */
/* ukuran tablet */

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    flex-direction: column;
    background-color: #c7bcf3;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
  }

  nav ul.slide {
    transform: translateX(0);
  }
}
